<div class="container">
    <div class="col md-6">
        <div class="row">
            <div class="col md-3">Vehicle ID:</div>
            <div class="col md-6">{{vehicle.vehicleId}}</div>
        </div>
        <div class="row">
            <div class="col md-3">Make:</div>
            <div class="col md-6">{{vehicle.make}}</div>
        </div>
        <div class="row">
            <div class="col md-3">Model:</div>
            <div class="col md-6">{{vehicle.model}}</div>
        </div>
        <div class="row">
            <div class="col md-3">License Plate:</div>
            <div class="col md-6">{{vehicle.licensePlate}}</div>
        </div>
    </div>
</div>