<div class="container">
    <table *ngIf="passes && passes.length" class="table">
        <thead>
            <tr>
                <th>Pass Number</th>
                <th>Pass Type</th>
                <th>Expiration Date</th>
                <th>Vehicles</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{passNumber}}</td>
                <td>{{passType}}</td>
                <td>{{expirationDate | date: "shortDate"}}</td>
                <td>{{vehicles}}</td>
            </tr>
            <tr *ngFor="let pass of passes">
                <td>{{pass.passNumber}}</td>
                <td>{{pass.passType}}</td>
                <td>{{pass.expirationDate | date: "shortDate"}}</td>
                <td>{{pass.vehicles}}</td>
            </tr>
        </tbody>
    </table>
</div>